body {
    background:#f1f1f1;
}
#woof {
font-size: 4rem;
}
.config-item {
    color: #ccc;
    font-size:0.7rem;
}
.form-item {
    padding: 1rem;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 1rem;
}